@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "aktiv-grotesk-extended";
    src: url("/fonts/aktiv_grotesk_ex_700.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

  @font-face {
    font-family: "aktiv-grotesk-extended";
    src: url("/fonts/aktiv_grotesk_ex_500.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
  }

  @font-face {
    font-family: "aktiv-grotesk-extended";
    src: url("/fonts/aktiv_grotesk_ex_400.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }

  .prose {
    @apply text-tolo-grey text-base leading-[22px] lg:text-lg lg:leading-6;
  }

  .prose strong {
    @apply text-tolo-black;
  }

  .prose p + p {
    @apply mt-4;
  }

  .prose a {
    @apply underline;
  }

  .prose h2 {
    @apply font-bold text-3xl text-tolo-dark-grey my-4;
  }

  .container-width {
    @apply max-w-[1440px] w-full lg:w-[84.4%] px-[5%] lg:px-8 mx-auto;
  }
}
