@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v12-latin_cyrillic-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/inter-v12-latin_cyrillic-500.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/inter-v12-latin_cyrillic-700.woff2") format("woff2");
  }

  @font-face {
    font-family: "aktiv-grotesk-extended";
    src: url("/fonts/aktiv_grotesk_ex_700.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

  @font-face {
    font-family: "aktiv-grotesk-extended";
    src: url("/fonts/aktiv_grotesk_ex_600.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
  }

  @font-face {
    font-family: "aktiv-grotesk-extended";
    src: url("/fonts/aktiv_grotesk_ex_500.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
  }

  @font-face {
    font-family: "aktiv-grotesk-extended";
    src: url("/fonts/aktiv_grotesk_ex_400.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }

  .custom-prose {
    @apply text-neutral-500 text-base leading-[22px] lg:text-lg lg:leading-6;
  }

  .custom-prose strong {
    @apply text-tolo-black;
  }

  .custom-prose p + p {
    @apply mt-4;
  }

  .custom-prose a {
    @apply underline;
  }

  .custom-prose h2 {
    @apply font-bold text-3xl text-neutral-800 my-4;
  }

  .container-width {
    @apply max-w-[1440px] w-full lg:w-[84.4%] px-[4%] lg:px-8 mx-auto;
  }

  .container-width-hero {
    @apply max-w-[1440px] w-full lg:w-[84.4%] px-0 mx-auto;
  }

  .mask-illustration-horizontal {
    mask-image: linear-gradient(to right, transparent 40%, black 70%);
  }

  .mask-illustration-vertical {
    mask-image: linear-gradient(to bottom, transparent 40%, black 70%);
  }

  .icon {
    @apply hidden ml-2 bg-link w-6 h-6 bg-contain bg-no-repeat;
  }

  .prose h1:hover .icon,
  .prose h2:hover .icon,
  .prose h3:hover .icon,
  .prose h4:hover .icon,
  .prose h5:hover .icon,
  .prose h6:hover .icon {
    @apply inline-block;
  }

  .background-community {
    background-image: url("/tolocar_illustration_3_community.svg");
    background-size: 433px 364px;
    @apply bg-no-repeat;
  }

  .background-position-1 {
    background-position: right 40px bottom -80px;
  }

  .background-position-2 {
    background-position: right -10px bottom -80px;
  }

  .default-prose {
    @apply prose prose-lg prose-p:text-neutral-500 prose-li:text-neutral-500 prose-ol:text-neutral-500 prose-p:leading-7 prose-headings:font-aktiv prose-headings:font-semibold prose-strong:text-neutral-900;
  }

  .my-map-control .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%23131313'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }

  .my-map-control .mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='%23131313'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E") !important;
  }

  .my-map-popup .mapboxgl-popup-content {
    @apply !p-0 !w-[312px] !h-[171px] !text-white;
  }

  .my-map-popup .mapboxgl-popup-tip {
    @apply !hidden;
  }
  
  body :is(h1, h2, h3, h4, h5, h6) {
    @apply tracking-[-0.03em] font-aktiv;
  }
}
