---

---
<div class="w-full bg-neutral-50">
  <div class="container-width grid grid-cols-12 gap-8 my-8">
    <div class="col-start-5 col-span-7">
      <div class="font-medium text-lg">Liked this resource? React or comment on GitHub</div>
      <div class="w-full my-8 flex items-center after:content-[''] after:bg-neutral-300 after:h-[1px] after:flex-1 font-bold text-[15px] text-neutral-500"><span class="pr-4 bg-neutral-50 uppercase">Comments</span></div>
      <script
        is:inline
        src="https://giscus.app/client.js"
        data-repo="tolocar-project/website"
        data-repo-id="R_kgDOHwzv9A"
        data-category="Announcements"
        data-category-id="DIC_kwDOHwzv9M4CR9hc"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async
      ></script>
    </div>
  </div>
</div>