---
import FooterCards from "@components/FooterCards.astro";
import BaseLayout from "./BaseLayout.astro";
import { ContentSection } from "@components";
import CommonUtils from "@util/CommonUtils";
const { frontmatter } = Astro.props;

const baseUrl = CommonUtils.getBaseUrl(false);

const localeFromUrl =
  Astro?.url?.pathname.replace(baseUrl, "").split("/").filter(Boolean)[0] ||
  "en";
---

<BaseLayout footerGrey={true} frontmatter={frontmatter}>
  <slot />
  <ContentSection>
    <div class="absolute w-full bg-white h-64 top-0"></div>
    <FooterCards language={localeFromUrl} />
  </ContentSection>
</BaseLayout>
