---
import FooterCards from "@components/FooterCards.astro";
import BaseLayout from "./BaseLayout.astro";
import { ContentSection } from "@components";
import CommonUtils from "@util/CommonUtils";
import LanguageUtils from "@util/LanguageUtils";
import type { MarkdownLayoutProps } from "astro";
import type { Props as BaseLayoutFrontmatter } from "./BaseLayout.astro";

type Props = MarkdownLayoutProps<BaseLayoutFrontmatter>;
const { frontmatter } = Astro.props;

const baseUrl = CommonUtils.getBaseUrl(false);

const localeFromUrl = LanguageUtils.getLocaleFromUrl(Astro.url, baseUrl);
---

<BaseLayout {...frontmatter}>
  <slot />
  <div class="container-width lg:container-width-hero prose max-w-none !px-8">
    {
      localeFromUrl === "ua" ? (
        <>
          <h3>Цілі базових навчальних модулів</h3>
          <p>
            Мета базових навчальних модулів — привернути увагу до різних тем,
            пов’язаних із роботою фаблабів. Насамперед вони покликані пробудити
            інтерес до їх використання, показати потенціал їх застосування та
            передати головні відомості про такі застосування.
          </p>

          <p>
            Оскільки кожен фаблаб, кожен прилад та кожне програмне забезпечення
            відрізняються одне від одного, тут представлена не специфічна
            інформація щодо конкретних приладів чи майстерень, а радше загальні
            основи. До того ж ціллю не є детально передати якісь практичні
            навички — натомість базова інформація цих навчальних модулів
            покликана підготувати до практичних воркшопів, які зазвичай
            проводяться у фаблабах.
          </p>

          <h3>Довідка</h3>

          <p>
            Основні навчальні модулі були розроблені компанією Hamburg
            Innovation GmbH як відкритий освітній ресурс, а потім доопрацьовані
            та адаптовані для використання на веб-сайті
            <a href="https://tolocar.org/ua/">TOLOCAR.org</a> у рамках проекту
            TOLOCAR і доповнені англійською та українською версіями (TOLOCAR —
            це проект, що фінансується урядом Німеччини @bmz_bund і виконується
            GIZ).
            <br />
            Автор тексту — Оскар Лідтке (Oskar Lidtke), самозайнятий інженер,
            розробник продуктів та викладач, також член-засновник{" "}
            <a href="https://www.fabcity.hamburg/en/" target="_blank">
              Fab City Hamburg e.V. associatio
            </a>{" "}
            та оператор проєкту{" "}
            <a href="https://www.orcular.org/" target="_blank">
              Orcular
            </a>{" "}
            — вся інформація тут:{" "}
            <a
              href="https://github.com/orcular-org/Basislernmodule-Fab-Labs/blob/main/translations/UA_Readme.md"
              target="_blank"
            >
              Readme UA
            </a>
            .
          </p>
        </>
      ) : (
        <>
          <h3>Aims of the basic learning modules</h3>
          <p>
            The basic learning modules are intended to introduce various topics
            related to the use of fab labs. Their main purpose is to spark
            interest in their use, to demonstrate potential applications and to
            teach basic application skills. Since every Fab Lab, every device
            and every software is different, no device- or lab-specific
            knowledge is provided, but rather general basic knowledge.
            Furthermore, it is not the goal to teach detailed practical
            knowledge - rather, the basic knowledge from these learning modules
            serves as preparation for practical workshops that are typically
            offered in fab labs.
          </p>
          <h3>Background</h3>
          <p>
            The basic learning modules were developed by Hamburg Innovation GmbH
            as an open educational resource and further developed and revised
            for use on the TOLOCAR.org website as part of the TOLOCAR project
            and supplemented with an English and Ukrainian version (TOLOCAR is a
            project funded by the German government @bmz_bund and implemented by
            GIZ). Author of the texts is Oskar Lidtke, freelance engineer,
            product designer and lecturer, founding member of{" "}
            <a href="https://www.fabcity.hamburg/" target="_blank">
              Fab City Hamburg e.V. association
            </a>{" "}
            and operator of the project{" "}
            <a href="https://www.orcular.org/" target="_blank">
              Orcular
            </a>
            .
          </p>
        </>
      )
    }
  </div>
  <ContentSection>
    <div class="absolute w-full bg-white h-64 top-0"></div>
    <FooterCards language={localeFromUrl} />
  </ContentSection>
</BaseLayout>
