---
import BaseLayout from "./BaseLayout.astro";
import { ContentSection, Card, CardContainer } from "@components";
const { frontmatter } = Astro.props;
---

<BaseLayout footerGrey={true} frontmatter={frontmatter}>
  <slot />
  <ContentSection>
    <div class="absolute w-full bg-white h-64 top-0"></div>
    <CardContainer className="lg:h-[408px]">
      <Card
        title="You are based in Ukraine and think we could help you?"
        bg={4}
        target="mailto:info@tolocar.org"
        actionCaption="Get in contact"
        >Schools, universities, NGOs, Startups and other organizations can reach
        out to us to request the Tolocars for projects, workshops and trainings.</Card
      >
      <Card
        title="You are a Maker and want to partner with us?"
        bg={5}
        target="mailto:info@tolocar.org"
        actionCaption="Get in contact"
        >We are looking for Makers, FabLabs, Hackerspaces, Makerspaces and other
        Communities who wants to partner with us in the Ukraine and
        internationally over the internet.</Card
      >
    </CardContainer>
  </ContentSection>
</BaseLayout>
