---
export interface Props {
  title: string;
}

const {
  frontmatter
} = Astro.props;

import "../../base.css";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="The Tolocar project sends mobile makerspaces into Ukraine to help, empower, equip and train local communities through open technology, knowledge and innovation."/>
    <meta name="keywords" content="tolocar, makerspaces, ukraine"/>
    <script async defer data-website-id="7642c494-7e60-4564-952b-5d0d33e7c16b" src="https://analytics.fabcity.hamburg/umami.js"></script>
    <title>{frontmatter?.title}</title>
  </head>
  <body class="w-full font-aktiv antialiased">
    <main class="flex flex-col items-center">
      <slot />
    </main>
  </body>
</html>
