---
export interface Props {
  title: string;
}

const {
  frontmatter
} = Astro.props;

import "../../base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter?.title}</title>
  </head>
  <body class="max-w-[1216px] px-5 mx-auto">
    <main class="flex flex-col">
      <slot />
    </main>
  </body>
</html>
